div.testimonial.grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
}

div.testimonial-image.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(24, 1fr);
    gap: 0.5rem;
    align-items: stretch;
    max-height: 37rem;
}

div.testimonial-image img:nth-child(1) {
    grid-row: 1 / 24;
}

div.testimonial-image img:nth-child(2) {
    grid-row: 1 / 13;
    grid-column: 2;
}

div.testimonial-image img:nth-child(3) {
    grid-row: 13 / 25;
    grid-column: 2;
}

div.testimonial-image p,
div.testimonial-userprofile h5,
div.testimonial-userprofile p {
    color: var(--color-text-gray);
    font-style: italic;
    font-weight: 500;
}

div.testimonial-text svg {
    color: var(--color-text-darkest);
    width: 20rem;
    height: 100%;
    align-self: flex-start;
    margin-right: 2rem;
}

div.testimonial-text div.flex {
    gap: 2rem;
}

div.testimonial-userprofile {
    align-self: flex-start;
}

div.testimonial-userprofile img {
    max-width: 7rem;
}

section.testimonial-section span.carousel-circle {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-carousel-background2);
    color: var(--color-carousel-color2);
}

section.testimonial-section span.carousel-circle svg {
    width: 5rem;
    height: 5rem;
    align-self: center;
    margin: 0;
}

section.testimonial-section ul.InfiniteCarouselDots {
    margin-top: 1rem;
    top: 105%;
}

section.testimonial-section i.InfiniteCarouselDotActiveIcon {
    background-color: var(--color-primary);
}

section.testimonial-section div.testimonial-signup {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

section.testimonial-section div.testimonial-signup a {
    width: 25rem;
}


/*Responsive details*/


/* Extra small devices (phones, 500px and down) */

@media only screen and (max-width: 500px) {
    div.testimonial.grid {
        grid-template-columns: 1fr;
    }
}


/* Medium devices (landscape tablets, 768px) */

@media only screen and (max-width: 768px) {}