.build-portfolio-section {
    height: 50rem;
}

.build-portfolio-section>div {
    justify-content: left;
    align-items: left;
    width: 1200px;
    padding: 0 40px;
}

.build-portfolio-text-section {
    align-items: start;
    max-width: 45rem;
    gap: 1rem;
    padding-right: 6rem;
}

.build-portfolio-text-section .btn {
    width: 25rem;
    align-items: center;
}

.build-portfolio-image-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    justify-content: stretch;
    align-items: stretch;
}

.build-portfolio-image-section img:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
}

.build-portfolio-image-section img:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/4;
}

.hanging-image {
    position: absolute;
    padding-left: 0.5rem;
    height: inherit;
}


/*Responsive details*/


/* Extra small devices (phones, 500px and down) */

@media only screen and (max-width: 500px) {
    .build-portfolio-section {
        height: auto;
    }
    .build-portfolio-section>div.flex {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .build-portfolio-text-section {
        padding: 0;
        margin: auto;
    }
    .build-portfolio-text-section>* {
        align-self: center;
        text-align: center;
    }
}


/* Medium devices (landscape tablets, 768px) */

@media only screen and (max-width: 768px) {
    .build-portfolio-section {
        height: auto;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
    .build-portfolio-section {
        height: auto;
    }
}