/* Editors pick */

.editors-pick-text {
    text-align: center;
}

.editors-pick-text>p {
    max-width: 50rem;
    margin: auto;
}


/*
.editors-pick-img>card>img {
    max-width: 100%;
    height: inherit;
}

.editors-pick-img>card:not(.carousel-control) {
    height: 100%;
    grid-row: 1;
}

.editors-pick-item:first-of-type {
    grid-column: 1;
}

.editors-pick-item:last-of-type {
    grid-column: 4;
}

.carousel-control.left {
    grid-row: 1;
    grid-column: 1;
    justify-content: flex-start;
    margin-left: 3rem;
}

.carousel-control.right {
    grid-row: 1;
    grid-column: 4;
    justify-content: flex-end;
    margin-left: -3rem;
}


.carousel-control.left {
    justify-content: flex-start;
    margin-left: 3rem;
}

.carousel-control.right {
    justify-content: flex-end;
    margin-left: -3rem;
}
*/