section.top-category-section {
    text-align: center;
    justify-content: center;
}

section.top-category-section div.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

section.top-category-section div img {
    width: 8rem;
}

section.top-category-section .btn {
    max-width: 30rem;
    margin: 4rem auto;
}

section.top-category-section div a {
    cursor: pointer;
}


/*Responsive details*/


/* Extra small devices (phones, 500px and down) */

@media only screen and (max-width: 500px) {
    section.top-category-section div.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Medium devices (landscape tablets, 768px) */

@media only screen and (max-width: 768px) {}