/* Main Header */

.header .flex {
    justify-content: space-between;
    height: 5rem;
    background-color: var(--color-background-white);
}

.header span {
    font-size: 2.5rem;
}

.first-title {
    color: var(--color-primary);
}


/* search input */

.search-container {
    display: flex;
    flex: auto;
    border-radius: 0.6rem;
    border: 1px solid var(--color-border-primary);
    min-width: 5rem;
    box-shadow: 0 1px 3px var(--color-box-shadow-dark);
}

.search-edit {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-edit input {
    padding: 0 .6rem;
    border-radius: 0 0.6rem 0.6rem 0;
    border: 0;
    height: 3.4rem;
    width: 20rem;
    font-weight: 500;
}

.search-edit input::placeholder {
    font-style: normal;
    color: var(--color-text-darker);
}

.search-btn {
    justify-content: flex-start;
    border: 1px solid var(--color-text-while);
    background-color: var(--color-text-while);
    height: 3.4rem;
    width: 3rem;
    border-radius: 0.6rem;
    cursor: pointer;
    padding: 0.2rem 0 0 0.8rem;
}

.search-btn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.search-btn svg g {
    fill: var(--color-text-darker);
}


/* Login signin button */

.sign-in {
    color: var(--color-primary);
}

hr.header-separator {
    height: 2px;
    border-width: 0;
    color: var(--color-primary-light);
    opacity: 0.25;
    background-color: var(--color-primary-light);
    box-shadow: 0 1px 3px var(--color-primary-light);
}

.sign-in,
.join-now {
    height: 3.4rem;
    margin: 0.3rem;
    padding: 0.4rem 1.4rem;
}

.join-now,
.join-now:hover {
    color: var(--color-text-darker);
    border: 2px solid transparent;
    background-color: transparent;
}

.join-now:hover {
    color: var(--color-primary);
}

.sign-in:hover {
    background-color: var(--color-primary);
    color: var(--color-text-white);
}