.landingpage-section5-text {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
}

.landingpage-section5.grid {
    gap: 5rem
}

.landingpage-section5 a {
    width: 25rem;
}

.landingpage-section5 img {
    max-height: 40rem;
}


/*Responsive details*/


/* Extra small devices (phones, 500px and down) */

@media only screen and (max-width: 500px) {
    .landingpage-section5.grid {
        grid-template-columns: 1fr;
    }
}


/* Medium devices (landscape tablets, 768px) */

@media only screen and (max-width: 768px) {}